@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Lato:100,400,300,700|Montserrat:500');
body{
	width: 100vw;
}
.container{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    color: #666;
	font-size: 14px;
}
.nav-img{
	width: 75%;
	max-width: 500px;
}
.navbar{
	font-family: 'Montserrat', sans-serif;
}
.ml-auto{
	float: right !important;
}
.navbar{
	padding-right: 1.5rem;
}
.full-img{
	width: 100%;
    max-width: 300px;
    padding-top: 10%;
}
.row{
	padding: 60px 0;
}
.col-md{
	text-align:center;
}
.intro-text {
	padding: 10% 0 10% 4%;
	font-weight: 100;
	text-align: left;
}
.intro-text h2 {
	font-size: 36px !important;
	font-weight: 300 !important;
	font-family: 'Lato', sans-serif !important;
}
.divider {
	height: 1px;
	min-width: 60px;
	background-color: #aaa;
	margin-left: 49%;
	margin-right: 49%;
}
.heading h3 {
	margin: 0 0 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: #444;
    line-height: 1.1em;
	font-size: 36px;
	text-align: center;
}
.full-img2{
	width: 100%;
}
.for-header {
	padding-bottom: 0 !important;
}
.feature {
	margin-bottom: 30px;
}

.feature h5 {
	font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2vw;
	min-font-size: 19px;
    color: #444;
	display: inline;
    line-height: 2em;
    padding-left: 15px;
    vertical-align: top;
}
.feature img {
	width: 10%;
	min-width: 33px;
}
.leftjust{
	text-align: unset !important;
}
.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.text-muted {
    color: #6c757d!important;
	padding-left: 10%;
}
.text-muted h3{
	margin: 0 0 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
	line-height: 1.1em;
    margin-bottom: 20px;
	font-size: 2em;
}
.main-text-buttons {
    text-align: center;
}	
.row .info-box {
	padding-top: 0 !important;
}
/*
	Buttons generated by livetools.uiparade.com
*/
.main-button {
   border: 1px solid #0a3c59;
   background: #3f51b5;
   background: -webkit-gradient(linear, left top, left bottom, from(#3b81e2), to(#3f51b5));
   background: -webkit-linear-gradient(top, #3b81e2, #3f51b5);
   background: -moz-linear-gradient(top, #3b81e2, #3f51b5);
   background: -ms-linear-gradient(top, #3b81e2, #3f51b5);
   background: -o-linear-gradient(top, #3b81e2, #3f51b5);
   background-image: -ms-linear-gradient(top, #3b81e2 0%, #3f51b5 100%);
   padding: 12px 24px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #000000 0 1px 0;
   color: #ffffff;
   font-size: 20px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   transition: 0.3s;
}
.main-button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #000000 0 1px 0;
   background: #5364b8;
   background: -webkit-gradient(linear, left top, left bottom, from(#5693e3), to(#5364b8));
   background: -webkit-linear-gradient(top, #5693e3, #5364b8);
   background: -moz-linear-gradient(top, #5693e3, #5364b8);
   background: -ms-linear-gradient(top, #5693e3, #5364b8);
   background: -o-linear-gradient(top, #5693e3, #5364b8);
   background-image: -ms-linear-gradient(top, #5693e3 0%, #5364b8 100%);
   color: #fff;
}
.main-button:active {
   text-shadow: #000000 0 1px 0;
   border: 1px solid #0a3c59;
   background: #6d7bba;
   background: -webkit-gradient(linear, left top, left bottom, from(#75a6e6), to(#5364b8));
   background: -webkit-linear-gradient(top, #75a6e6, #6d7bba);
   background: -moz-linear-gradient(top, #75a6e6, #6d7bba);
   background: -ms-linear-gradient(top, #75a6e6, #6d7bba);
   background: -o-linear-gradient(top, #75a6e6, #6d7bba);
   background-image: -ms-linear-gradient(top, #75a6e6 0%, #6d7bba 100%);
   color: #fff;
}
.slide-top-blur-in {
	-webkit-animation: slide-top 1s ease-in reverse, text-focus-in 0.8s ease-in;
			animation: slide-top 1s ease-in reverse, text-focus-in 0.8s ease-in;
}
.hidden{
	visibility: hidden;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-1-7
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
	  /*
    -webkit-filter: blur(12px);
            filter: blur(12px);
			*/
    opacity: 0;
  }
  100% {
	  /*
    -webkit-filter: blur(0px);
            filter: blur(0px);
			*/
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
	  /*
    -webkit-filter: blur(12px);
            filter: blur(12px);
			*/
    opacity: 0;
  }
  100% {
	  /*
    -webkit-filter: blur(0px);
            filter: blur(0px);
			*/
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
	.feature h5{
		font-size: 4.5vw;
	}
	.leftjust{
		margin: 0 0 0 12% !important;
		padding: 10% 0;
	}
	.text-muted h3{
		font-size: 24px;
	}
}