.nav-img{
	width: 75%;
	max-width: 500px;
}
.navbar{
	font-family: 'Montserrat', sans-serif;
}
.ml-auto{
	float: right !important;
}
.navbar{
	padding-right: 1.5rem;
}
.full-img{
	height: 100%;
	max-height: 1000px;
}
.row{
	padding: 60px 0;
}
.col-md{
	text-align:center;
}